MONGO_USERNAME=kanlo
MONGO_PASSWORD=change-me
MONGO_DATABASE=kanlo

MONGODB_URI=mongodb://kanlo:change-me@mongodb:27017/kanlo?authSource=admin
JWT_SECRET=a-very-long-secret-key-that-should-be-kept-safe-and-not-shared-with-anyone